{% extends 'base.html' %} 

{% block content %}
{% load static %}

<br>
<br>
<button type="button" class="btn btn-info" onClick="myFunction()">Custom Character</button>
<br>
<div id= "myDIV" style= "display: none;">
<br>
<form action="{% url 'created_char' %}" method="POST">
{% csrf_token %}
<p class="warning-text">Note! This feature is for more advanced players who wish to create a custom Character. If you are looking for a grab and go Character, please use the random option. If you do not select a value, the default listed value will be used.</p>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Please select your race:</button>
    <select class="custom-select my-1 mr-sm-2" name="race">
    <option value="Dwarf" selected="selected">Dwarf</option>
    <option value="Elf">Elf</option>
    <option value="Half-Elf">Half-Elf</option>
    <option value="Half-Orc">Half-Orc</option>
    <option value="Halfling">Halfling</option>
    <option value="Human">Human</option>

  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Please select your class:</button>
    <select class="custom-select my-1 mr-sm-2" name="classes">
    <option value="Cleric" selected="selected">Cleric</option>
    <option value="Fighter">Fighter</option>
    <option value="Rogue">Rogue</option>
    <option value="Wizard">Wizard</option>
  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Str score:</button>
    <select class="custom-select my-1 mr-sm-2" name="strength">
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Dex score:</button>
    <select class="custom-select my-1 mr-sm-2" name="dexterity">
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Con score:</button>
    <select class="custom-select my-1 mr-sm-2" name="constitution">
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Int score:</button>
    <select class="custom-select my-1 mr-sm-2" name="intelligence">
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Wis score:</button>
    <select class="custom-select my-1 mr-sm-2" name="wisdom">
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Cha score:</button>
    <select class="custom-select my-1 mr-sm-2" name="charisma">
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>
</div>
<br>
<br>
<a href={% url 'created_char' %}><button type="submit" class="btn btn-outline-info">View Custom Character</button></a>
</form>
</div>
<br>
<br>
<form action={% url 'verify_data' %} method="POST">
{% csrf_token %}
<a href={% url 'verify_data' %}><button type="submit" class="btn btn-dark">Random Character</button></a>
</form>
<br>
<br>
<a href={% url 'index3' %}><button type="button" class="btn btn-secondary">View Saved Characters</button></a> 
<br>

<script>
function myFunction() {
  const x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock content %}
