{% extends 'base.html' %} 

{% block content %}

<button type="button" class="btn btn-warning">Design your own Char</button><p>Note! This feature is for more advanced players who do not mind going through all the steps to create a Char from scratch. If you are just looking to grab a Char and go play, please use the random option!</p>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Please Select what Race you would like your Char to be:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Dwarf</a>
    <a class="dropdown-item" href="#">Elf</a>
    <a class="dropdown-item" href="#">Half-Elf</a>
    <a class="dropdown-item" href="#">Half-Orc</a>
    <a class="dropdown-item" href="#">Halfling</a>
    <a class="dropdown-item" href="#">Human</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Please select what Class you would like your Char to be:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Cleric</a>
    <a class="dropdown-item" href="#">Fighter</a>
    <a class="dropdown-item" href="#">Rogue</a>
    <a class="dropdown-item" href="#">Wizard</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Select your Str stat:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">3</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">7</a>
    <a class="dropdown-item" href="#">8</a>
    <a class="dropdown-item" href="#">9</a>
    <a class="dropdown-item" href="#">10</a>
    <a class="dropdown-item" href="#">11</a>
    <a class="dropdown-item" href="#">12</a>
    <a class="dropdown-item" href="#">13</a>
    <a class="dropdown-item" href="#">14</a>
    <a class="dropdown-item" href="#">15</a>
    <a class="dropdown-item" href="#">16</a>
    <a class="dropdown-item" href="#">17</a>
    <a class="dropdown-item" href="#">18</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Select your Dex stat:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">3</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">7</a>
    <a class="dropdown-item" href="#">8</a>
    <a class="dropdown-item" href="#">9</a>
    <a class="dropdown-item" href="#">10</a>
    <a class="dropdown-item" href="#">11</a>
    <a class="dropdown-item" href="#">12</a>
    <a class="dropdown-item" href="#">13</a>
    <a class="dropdown-item" href="#">14</a>
    <a class="dropdown-item" href="#">15</a>
    <a class="dropdown-item" href="#">16</a>
    <a class="dropdown-item" href="#">17</a>
    <a class="dropdown-item" href="#">18</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Select your Con stat:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">3</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">7</a>
    <a class="dropdown-item" href="#">8</a>
    <a class="dropdown-item" href="#">9</a>
    <a class="dropdown-item" href="#">10</a>
    <a class="dropdown-item" href="#">11</a>
    <a class="dropdown-item" href="#">12</a>
    <a class="dropdown-item" href="#">13</a>
    <a class="dropdown-item" href="#">14</a>
    <a class="dropdown-item" href="#">15</a>
    <a class="dropdown-item" href="#">16</a>
    <a class="dropdown-item" href="#">17</a>
    <a class="dropdown-item" href="#">18</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Select your Int stat:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">3</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">7</a>
    <a class="dropdown-item" href="#">8</a>
    <a class="dropdown-item" href="#">9</a>
    <a class="dropdown-item" href="#">10</a>
    <a class="dropdown-item" href="#">11</a>
    <a class="dropdown-item" href="#">12</a>
    <a class="dropdown-item" href="#">13</a>
    <a class="dropdown-item" href="#">14</a>
    <a class="dropdown-item" href="#">15</a>
    <a class="dropdown-item" href="#">16</a>
    <a class="dropdown-item" href="#">17</a>
    <a class="dropdown-item" href="#">18</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Select your Wis stat:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">3</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">7</a>
    <a class="dropdown-item" href="#">8</a>
    <a class="dropdown-item" href="#">9</a>
    <a class="dropdown-item" href="#">10</a>
    <a class="dropdown-item" href="#">11</a>
    <a class="dropdown-item" href="#">12</a>
    <a class="dropdown-item" href="#">13</a>
    <a class="dropdown-item" href="#">14</a>
    <a class="dropdown-item" href="#">15</a>
    <a class="dropdown-item" href="#">16</a>
    <a class="dropdown-item" href="#">17</a>
    <a class="dropdown-item" href="#">18</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<div class="btn-group dropright">
  <button type="button" class="disabled" class="btn btn-primary">Select your Cha stat:</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">3</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">7</a>
    <a class="dropdown-item" href="#">8</a>
    <a class="dropdown-item" href="#">9</a>
    <a class="dropdown-item" href="#">10</a>
    <a class="dropdown-item" href="#">11</a>
    <a class="dropdown-item" href="#">12</a>
    <a class="dropdown-item" href="#">13</a>
    <a class="dropdown-item" href="#">14</a>
    <a class="dropdown-item" href="#">15</a>
    <a class="dropdown-item" href="#">16</a>
    <a class="dropdown-item" href="#">17</a>
    <a class="dropdown-item" href="#">18</a>
    {% comment %} <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
  </div>
</div>
<br>
<br>
<button type="button" class="btn btn-primary">Create Random Char</button>
<br>
<a href={% url 'index3' %}><button type="button" class="btn btn-dark">View Previously Created Chars</button></a> 
<br>
    <a href={% url 'index2' %}><button>Pg2?</button></a>
    <a href={% url 'index3' %}><button>Pg3?</button></a> 

{% endblock content %}
