{% extends 'base.html' %}

    {% block content3 %}
    {% comment %} <table>
        <thead>
            <th>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table> {% endcomment %}

    <table class="text">
        <th>
            <ol>
                {% for char in chars %}
            <li>{{ char }}</li>
                {% endfor %}
            </ol>
        </th>
    </table>
    
        <a href={% url 'index1' %}><button class="btn btn-warning" >Start Over</button></a>

    {% endblock content3 %}